<!DOCTYPE html>
<html lang="pt_br">
  <!-- tag html - Hypertext Markup Language -->
  <!-- comentario -->
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Proffy | Sua plataforma de estudo online</title>
    <link rel="icon" href="/public/images/favicon.png" type="image/x-icon" />
    <!-- favicon da pagina -->
    <link
      rel="stylesheet"
      type="text/css"
      href="/public/styles/partials/main.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Mulish&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/public/styles/partials/page-landing.css" />
    <!-- <link rel="stylesheet" href="style.css"> -->
  </head>

  <body id="page-landing">
    <div id="container">
      <!-- uma div com um id, isso é o primeiro container -->
      <div class="logo-container">
        <img src="/public/images/logo.svg" alt="Proffy" />
        <h2>Sua plataforma de estudos online.</h2>
      </div>

      <img
        class="hero-image"
        src="/public/images/landing.svg"
        alt="Plataforma de Estudos"
      />

      <!-- Inicio do container com dois botoes -->
      <div class="buttons-container">
        <a class="study" href="/src/views/study.html">
          <!-- Tag "a" para que possa colocar links -->
          <img src="/public/images/icons/study.svg" alt="Estudar" />
          Estudar
        </a>
        <a class="give-classes" href="/src/views/give-classes.html">
          <!-- Tag "a" com um link  e uma imagem -->
          <img src="/public/images/icons/give-classes.svg" alt="Dar aulas" />
          Dar aulas
        </a>
      </div>
      <!-- fim do container com dois botoes -->

      <p class="total-conections">
        Total de 200 conexoes já realizadas
        <img src="/public/images/icons/purple-heart.svg" alt="coração roxo" />
      </p>
    </div>
  </body>
</html>


